.category-card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:var(--shadow);

    transition:.3s;

    cursor:pointer;

}

.category-card:hover{

    transform:translateY(-6px);

}

.category-icon{

    width:60px;

    height:60px;

    border-radius:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:20px;

}

.category-card h3{

    margin-bottom:8px;

}

.category-card p{

    color:var(--text2);

}

.category-progress{

    margin:20px 0;

    background:#ECEFF4;

    height:10px;

    border-radius:20px;

    overflow:hidden;

}

.category-progress-fill{

    height:100%;

    background:var(--primary);

}