.layout{

    display:flex;

    min-height:100vh;

}

.main-content{

    flex:1;

    margin-left:260px;

    display:flex;

    flex-direction:column;

}

.page-content{

    padding:35px;

    flex:1;

}