.topic-card{

    background:white;

    border-radius:15px;

    padding:22px 28px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:var(--shadow);

    transition:.25s;

}

.topic-card:hover{

    transform:translateY(-3px);

}

.topic-left{

    display:flex;

    align-items:center;

    gap:20px;

}

.status{

    width:38px;

    height:38px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:18px;

}

.completed{

    background:#DCFCE7;

    color:#22C55E;

}

.pending{

    background:#F3F4F6;

    color:#9CA3AF;

}

.topic-card button{

    background:var(--primary);

    color:white;

    padding:10px 22px;

    border-radius:10px;

}