.navbar {
  height: 72px;

  background: white;

  border-bottom: 1px solid var(--border);

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 30px;
}

.search-box {
  display: flex;

  align-items: center;

  gap: 10px;

  width: 350px;

  background: #f8fafc;

  padding: 12px 18px;

  border-radius: 12px;
}

.search-box input {
  border: none;

  background: transparent;

  outline: none;

  width: 100%;
}

.profile {
  width: 42px;

  height: 42px;

  border-radius: 50%;

  background: var(--primary);

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  font-weight: 600;
}