.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #ffffff;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 28px;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 15px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 14px 16px;

  border-radius: 12px;

  color: var(--text2);

  transition: 0.25s;
}

.menu-item:hover {
  background: #eef2ff;
  color: var(--primary);
}

.menu-item.active {
  background: var(--primary);
  color: white;
}

.menu-item svg {
  width: 20px;
  height: 20px;
}