.empty-state{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:80px;

    background:white;

    border-radius:18px;

    box-shadow:var(--shadow);

}

.empty-state h2{

    margin-bottom:10px;

}

.empty-state p{

    color:var(--text2);

}